<div style='width: 100%; text-align: center; margin-top: 66px'>
    <h1 style='margin: 30px;'>{{course.name}}</h1>
    <h3 style='margin: 30px;'>{{course.description}}</h3>
    <img src={{course.image}} alt="" style="width:30%;">
   
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Khóa học";
</script>